<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>CsED</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>

    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/pa.1.1.css') }}">
    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">

</head>

<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                        Codecool Series DB
                    </span>
        <div id="header-auth">
            <button type="button" id="bt_register">Register</button>
            <button type="button" id="bt_login">Login</button>
        </div>
    </header>
    <section>
        <h1 class="title text-center"> Entry level (KATAs)</h1>
        <div class="card">
            <h2>Second exercise</h2>
            <p>SQL: List the top 10 actors who played the most characters.</p>
            <p>Jinja/Python: Show these people in an ordered list.</p>
            <p>Jinja/Python: Add a golden, silver and bronze colored medal next to the 1st, 2nd and 3rd actors</p>
            <p>JS: When the user clicks on a medal, it should do some animation. Make it bigger for 2 seconds without modifying anything else on the page, or make the name blink, or something crazy. (a choo-choo train can go on the screen if you like)</p>
            <p>Python: calculate how many roles these 10 people acted in and pass it to the template as a separate variable. Show it before the list: “Here are the 10 most active actors (they played xyz characters)”</p>
        </div>
        <div class="card">
            <p>Here are the 10 most active actors they played {{ count }} characters</p>

            <ol>
                {% for actor in actors %}
                    <li>{{ actor['name'] }}
                    {% if loop.index == 1 %}
                    <i class="fa fa-medal" style="color: gold"></i>
                    {% elif loop.index == 2 %}
                    <i class="fa fa-medal" style="color: silver"></i>
                    {% elif loop.index == 3 %}
                    <i class="fa fa-medal" style="color: #cd7f32"></i>
                    {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </section>
    <footer>
        Copyright, bla-bla
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
<script src="/static/js/pa.1.2.js" defer></script>
</body>
</html>